.container-error-403 {
    .container-error-empty-403 {
        height: 70px;
    }
    .container-error-body-403 {
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        .container-error-desktop-403 {
            height: 400px;
            width: 500px;
            border: 1px solid #ee3055;
            border-radius: 20px;
            margin-bottom: 2em;
        	margin: 1rem .25em;
        	-webkit-box-shadow: 10px 10px 5px 0px rgba(133,131,133,1);
            -moz-box-shadow: 10px 10px 5px 0px rgba(133,131,133,1);
            box-shadow: 10px 10px 5px 0px rgba(133,131,133,1);
            .error-header-403 {
                height: 10%;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                background-color: #ee3055;
                border-top-right-radius: 20px;
                border-top-left-radius: 20px;
                span {
                    margin-right: 20px;
                    color: white;
                }
            }
            .error-main-403 {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                h1 {
                    font-size: 90px;
                    color: #4d4d4d;
                }
                h2 {
                    font-size: 80px;
                }
                h3 {
                    margin-top: 20px;
                    font-size: 35px;
                    text-align: center;
                    color: #4d4d4d;
                }
            }
        }
    }
}


@media screen and (max-width: 767px) {
    .container-error-403 {
        .container-error-empty-403 {
        }
        .container-error-body-403 {
            .container-error-desktop-403 {
                height: 200px;
                width: 300px;
                .error-header-403 {
                    span {
                        margin-right: 10px;
                        color: white;
                    }
                }
                .error-main-403 {
                    h1 {
                        font-size: 50px;
                        color: #4d4d4d;
                    }
                    h2 {
                        font-size: 40px;
                    }
                    h3 {
                        margin-top: 10px;
                        font-size: 20px;
                        color: #4d4d4d;
                    }
                }
            }
        }
    }
}
