// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// // Variables
// @import 'inserireNomeView/_variables';
//
// Bootstrap
@import '~bootstrap/scss/bootstrap';
//
// /* MIXIN */
// @import 'inserireNomeView/_mixin';
// /* RESET */
@import 'layout/_reset';
/* COMMON */
// @import 'inserireNomeView/_common';
/* HEADER */
@import 'layout/partials/_header';
/* MAIN */
@import 'viewGuestIndex/partials/_main';
/* FOOTER */
@import 'layout/partials/_footer';
