.custom-margin {
    margin-top: 75px;
    .custom-nav {
        font-weight: bold;
    }
}
.card-container-CreateHouses {
    margin-bottom: 25px;
    .card-header-custom {
        margin-bottom: 10px;
    }
    .card-custom {
        padding: 0 10px;
    }
}
