.container-AdminPhotosEdit{
	padding-top: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: lightgray;
	.photo-header{
		width: 80%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		nav{
			width: 100%;
		}
	}
	.card-ape{
		width: 80%;
		padding-top: 40px;
		padding-left: 30px;
		padding-right: 30px;
		background-color: white;
		opacity: 0.95;
		margin-bottom: 40px;
		.img{

			margin-bottom: 25px;
			object-fit: cover;
			height: 500px;
		}
	}
}

@media screen and (max-width: 800px) {
	.container-AdminPhotosEdit{
		.card-ape{
				.img{
					height: auto;
				}
		}
	}
}
